{extend name="layout" /}

{block name="title"}用户组管理{/block}

{block name="content"}
{if (isAllowed('dashboard_user_group', 2))}                <p>
                    <a role="button" class="btn btn-default" href="{:url('dashboard/UserGroup/permission', '', '')}" id="createUserGroup">新建用户组</a>
                </p>
{/if}

                <div class="alert alert-info" role="alert">共有 <span id="srvCount">0</span> 条记录</div>

                <div id="userGroupDetail">
                </div>

                <div class="pagerContainer">
                    <div></div>
                    <div class="jsgrid-pager">每页显示&nbsp;<select id="pageSize"><option value="20">20</option><option value="50">50</option><option value="100">100</option><option value="999999999">全部</option></select>&nbsp;行</div>
                </div>

                <div class="modal fade" id="editUserGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <form id="editUserGroupForm" method="post" onsubmit="submitForm(this); return false;" action="" class="form-horizontal">
                        <input type="hidden" name="id" value="">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title"><span id="editPanelTitle">编辑</span>用户组</h4>
                                </div>
                                <div class="modal-body">
                                    <h4>常规项</h4>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label">用户组名</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="name" placeholder="用户组名" />
                                        </div>
                                    </div>
                                    <hr />
                                    <h4>用户组权限</h4>
                                    <div class="permission"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
{/block}

{block name="css"}
{/block}

{block name="javascript"}
    <script>
        var permission = {:json_encode(getPermission())};

    </script>
    <script src="__STATIC__/js/admin/userGroup.js"></script>
{/block}